.header {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

#sec-1 {
  background-color: var(--white);
  box-sizing: border-box;
  width: 440px;
  height: 100vh;
  padding: 2rem;
  padding-right: 6rem;
  border-radius: 0% 20% 20% 0%/0% 60% 60% 0%;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
}
#sec-1 main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sec-1 main header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#sec-1 main header img {
  width: 100px;
  height: 100px;
  border: 8px solid var(--subtitle);
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#sec-1 main header h1 {
  color: var(--title);
  margin: 0.8rem 0px;
  margin-bottom: 0.2rem;
}
#sec-1 main header h4 {
  color: var(--subtitle);
  font-size: 0.8rem;
}
#sec-1 main footer {
  display: flex;
}
#sec-1 main footer h4 {
  color: var(--title);
  font-size: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  #sec-1 {
    background-color: var(--white);
    box-sizing: border-box;
    width: 320px;
    height: 100vh;
    padding: 1rem;
    padding-right: 4rem;
    border-radius: 0% 20% 20% 0%/0% 60% 60% 0%;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
  }
  #sec-1 main header img {
    width: 80px;
    height: 80px;
    border: 6px solid var(--subtitle);
  }
  #sec-1 main header h1 {
    color: var(--title);
    margin: 0.6rem 0px;
    margin-bottom: 0.2rem;
  }
  #sec-1 main header h4 {
    color: var(--subtitle);
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
  }
  #sec-1 {
    background-color: var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 1rem;
    border-radius: 0% 0% 80% 80%/0% 0% 40% 40%;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
  }
  #sec-1 main header img {
    width: 80px;
    height: 80px;
    border: 6px solid var(--subtitle);
  }
  #sec-1 main header h1 {
    color: var(--title);
    margin: 0.6rem 0px;
    margin-bottom: 0.2rem;
  }
  #sec-1 main header h4 {
    color: var(--subtitle);
    font-size: 0.6rem;
  }
  #sec-1 main footer {
    display: flex;
  }
  #sec-1 main footer h4 {
    color: var(--title);
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
  }
  #sec-1 {
    background-color: var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 140px;
    padding: 1rem;
    border-radius: 0% 0% 80% 80%/0% 0% 40% 40%;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
  }
  #sec-1 main header img {
    width: 40px;
    height: 40px;
    border: 4px solid var(--subtitle);
  }
  #sec-1 main header h1 {
    font-size: 0.8rem;
    color: var(--title);
    margin: 0.4rem 0px;
    margin-bottom: 0.1rem;
  }
  #sec-1 main header h4 {
    color: var(--subtitle);
    font-size: 0.4rem;
  }
  #sec-1 main footer {
    display: flex;
  }
  #sec-1 main footer h4 {
    color: var(--title);
    font-size: 0.4rem;
  }
}/*# sourceMappingURL=style.css.map */