* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /*B&W*/
    --white: #ffffff;
    --bw9: #e6e6e6;
    --bw8: #cccccc;
    --bw7: #b3b3b3;
    --bw6: #999999;

    /* COLORS */
    --red: #ff5858;
    --red1: #d43737;
    --red2: #ff7d7d;
    --redT: #ff353c99;
    --orange: #ef8347;
    --orangeT: #f3714199;
    --yellow: #fdc96e;
    --yellowT: #fdc96e99;
    --lightBlue: #00c3e1;

    /* FONTS */
    --primary: #ffffff;
    --title: #808080;
    --title2: #ff7d38;
    --subtitle: #b3b3b3;
    --text: #808080;

    /* ALPHA */
    --glassBg50: #ffffff80;
    --glassBg40: #ffffff66;
    --glassBg30: #ffffff4d;
    --glassBg20: #ffffff33;
    --glassBg0: #ffffff00;
}

body {
    background: linear-gradient(
        180deg,
        var(--redT) 0%,
        var(--orangeT) 30%,
        var(--yellowT) 100%
    );
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-size: cover;
    background-attachment: fixed;
}
