.itemContainer {
  background-color: var(--glassBg20);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 96%;
  height: 80px;
  margin: 0% 1%;
  margin-right: 3%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  border-radius: 10px;
  border-bottom-left-radius: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066,-1px -1px 2px #ffffff;
          box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066,-1px -1px 2px #ffffff;
}

.itemContainer .circleItem {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform: translate(10px, -30px);
          transform: translate(10px, -30px);
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
          box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
}

.itemContainer .circleItem svg {
  position: relative;
  width: 80px;
  height: 80px;
}

.itemContainer .circleItem svg circle {
  width: 40px;
  height: 40px;
  fill: none;
  stroke-width: 10;
  stroke: var(--red);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  stroke-linecap: round;
  stroke-dasharray: 185;
}

.itemContainer .circleItem svg circle:nth-child(1) {
  stroke: #D9D9D9;
  stroke-dasharray: 185;
}

.itemContainer .circleItem .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--title);
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemContainer .circleItem .ImageIcon {
  width: 50px;
  height: 50px;
  margin: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.itemContainer .itemBox {
  margin-left: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--glassBg50);
}

.itemContainer .itemBox .textContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemContainer .itemBox .textContent .titleBox {
  height: 25px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 25px;
}

.itemContainer .itemBox .textContent .titleBox .titulo {
  color: #EF8347;
  font-size: 0.9rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px #00000080;
  margin-bottom: 0.8rem;
}

.itemContainer .itemBox .textContent .titleBox button {
  background-color: var(--red);
  width: 25px;
  height: 25px;
  margin-right: 2px;
  color: var(--white);
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
          box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
}

.itemContainer .itemBox .textContent p {
  color: var(--white);
  font-weight: 300;
  text-shadow: 0px 2px 2px #00000080;
  font-size: 0.8rem;
}

.itemContainer .itemBox::-webkit-scrollbar {
  width: 6px;
}

.itemContainer .itemBox::-webkit-scrollbar-track {
  background: transparent;
}

.itemContainer .itemBox::-webkit-scrollbar-thumb {
  background-color: var(--glassBg30);
  border-radius: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-right: 2px solid rgba(0, 0, 0, 0.4);
}

.itemContainer:last-child {
  margin-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
  .itemContainer {
    background-color: var(--glassBg20);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 96%;
    height: 50px;
    margin: 0% 1%;
    margin-right: 3%;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    border-bottom-left-radius: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066,-1px -1px 2px #ffffff;
            box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066,-1px -1px 2px #ffffff;
  }
  .itemContainer .circleItem {
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transform: translate(10px, -20px);
            transform: translate(10px, -20px);
    z-index: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
            box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
  }
  .itemContainer .circleItem svg {
    position: relative;
    width: 60px;
    height: 60px;
  }
  .itemContainer .circleItem svg circle {
    width: 60px;
    height: 60px;
    fill: none;
    stroke-width: 6;
    stroke: var(--red);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(8px, 10px);
            transform: translate(8px, 10px);
    stroke-linecap: round;
    stroke-dasharray: 125;
  }
  .itemContainer .circleItem svg circle:nth-child(1) {
    stroke: #D9D9D9;
    stroke-dasharray: 125;
  }
  .itemContainer .circleItem .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--title);
    font-size: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .itemContainer .circleItem .ImageIcon {
    width: 30px;
    height: 30px;
    margin: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .itemContainer .itemBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--glassBg50);
  }
  .itemContainer .itemBox .textContent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .itemContainer .itemBox .textContent .titleBox {
    height: 20px;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 20px;
  }
  .itemContainer .itemBox .textContent .titleBox .titulo {
    color: #EF8347;
    font-size: 0.6rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px #00000080;
    margin-bottom: 0.4rem;
  }
  .itemContainer .itemBox .textContent .titleBox button {
    background-color: var(--red);
    width: 20px;
    height: 20px;
    margin-right: 2px;
    color: var(--white);
    font-size: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
            box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
  }
  .itemContainer .itemBox .textContent p {
    color: var(--white);
    font-weight: 300;
    text-shadow: 0px 2px 2px #00000080;
    font-size: 0.5rem;
  }
  .itemContainer .itemBox::-webkit-scrollbar {
    width: 6px;
  }
  .itemContainer .itemBox::-webkit-scrollbar-track {
    background: transparent;
  }
  .itemContainer .itemBox::-webkit-scrollbar-thumb {
    background-color: var(--glassBg30);
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    border-right: 2px solid rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 500px) {
  .itemContainer {
    background-color: var(--glassBg20);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 96%;
    height: 50px;
    margin: 0% 1%;
    margin-right: 3%;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    border-bottom-left-radius: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066,-1px -1px 2px #ffffff;
            box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066,-1px -1px 2px #ffffff;
  }
  .itemContainer .circleItem .ImageIcon {
    width: 30px;
    height: 30px;
    margin: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .itemContainer .itemBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--glassBg50);
  }
  .itemContainer .itemBox .textContent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .itemContainer .itemBox .textContent .titleBox {
    height: 20px;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 20px;
  }
  .itemContainer .itemBox .textContent .titleBox .titulo {
    color: #EF8347;
    font-size: 0.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px #00000080;
    margin-bottom: 0.4rem;
  }
  .itemContainer .itemBox .textContent .titleBox button {
    background-color: var(--red);
    width: 20px;
    height: 20px;
    margin-right: 2px;
    color: var(--white);
    font-size: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
            box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
  }
  .itemContainer .itemBox .textContent p {
    color: var(--white);
    font-weight: 300;
    text-shadow: 0px 2px 2px #00000080;
    font-size: 0.4rem;
  }
}
/*# sourceMappingURL=style.css.map */