.darkScreen {
  background-color: #00000099;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.darkScreen .modalContent {
  background-color: var(--white);
  width: 700px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
          box-shadow: 1px 1px 2px #00000066, 2px 2px 5px #00000066;
}

.darkScreen .modalContent .modalSec45 {
  width: 45%;
  height: 100%;
}

.darkScreen .modalContent .modalSec45 img {
  width: 100%;
  height: 100.2%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.darkScreen .modalContent .modalSec55 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 55%;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.darkScreen .modalContent .modalSec55 .modalHeader {
  width: 100%;
  height: 15%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.darkScreen .modalContent .modalSec55 .modalHeader .modalTitle {
  font-size: 1.2rem;
  color: var(--title);
}

.darkScreen .modalContent .modalSec55 .modalHeader .closeButton {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: var(--title);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.darkScreen .modalContent .modalSec55 .modalMain {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.darkScreen .modalContent .modalSec55 .modalMain .iconSec {
  height: 20%;
}

.darkScreen .modalContent .modalSec55 .modalMain .iconSec div {
  margin-top: 4px;
  color: var(--subtitle);
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.darkScreen .modalContent .modalSec55 .modalMain .iconSec div .modalIcon {
  color: var(--red1);
  margin-right: 8px;
}

.darkScreen .modalContent .modalSec55 .modalMain .contentSec {
  margin-top: 16px;
  font-size: 0.8rem;
  height: 80%;
  text-align: justify;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--glassBg50);
}

.darkScreen .modalContent .modalSec55 .modalMain .contentSec .p {
  color: var(--text);
  text-indent: 24px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.darkScreen .modalContent .modalSec55 .modalMain .contentSec .p:last-child {
  margin-bottom: 0px;
}

.darkScreen .modalContent .modalSec55 .modalMain .contentSec::-webkit-scrollbar {
  width: 4px;
}

.darkScreen .modalContent .modalSec55 .modalMain .contentSec::-webkit-scrollbar-track {
  background: transparent;
}

.darkScreen .modalContent .modalSec55 .modalMain .contentSec::-webkit-scrollbar-thumb {
  background-color: var(--title);
  border-radius: 20px;
}

.openModal {
  visibility: visible !important;
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */